<br><br><br><br><br>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>{{ blog.description }}</h2>
            <br>
            <p>{{ blog.date }}</p>
            <p>Yazar: {{ blog.userName }}</p>
            <p>{{ blog.article }}</p>
            <br>
            <img src="../{{ blog.fileId }}">
            <br><br>
            <p>Anahtar kelimeler: {{ blog.keyword }}</p>

        </div>


    </div>



